-#  This file is app/views/movies/index.html.haml
%h1 All Movies

= form_tag movies_path, :method => :get do
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]",'',@rate[rating],{:id => "ratings_#{rating}"}
  = submit_tag#ratings_submit 'Refresh'


%table#movies
  %thead
    %tr
      %th{:class => ('hilite' if @sort == 'title')}
        %a#title_header{:href => movies_path(:first => 'title', :second => '')}Movie Title
        
      %th Rating
      %th{:class => ('hilite' if @sort == 'date')}
        %a#release_date_header{:href => movies_path(:first => '' , :second => 'date')}Release Date 
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
